html {
    background: #999;
}

body {
    background: #FFFFFF;
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    border: 1px solid black;
    box-shadow: 3px 3px 3px #333;
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 100%;
    line-height: 140%;
    color: #333;
    width: 60%;
    min-width: 400px;
    min-height: 200px;
}

a:link    { color: blue; text-decoration: none;      }
a:hover   { color: blue; text-decoration: underline; }
a:visited { color: blue;                             }

h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important }

#banner {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-align: center;
    border: none;
    text-decoration: none;
}

pre {
    white-space: pre-wrap;
    padding: 0.5em;
}
